
*{
    box-sizing: border-box;
}


/* About me Page */
header {
   
    background: #ffffff;
    border: solid 0.5px #cccccc;
    margin-bottom: 50px;
    overflow: auto;
    width: 100%;
}

header .logo{
      background: #4aaaa5;
      color: #ffffff;
      height: 80px;
      width: 220px;
      padding: 30px;
      margin-left: 280px;
      float:left;
      font-weight: bold;
      font-size: 24px;
      overflow: hidden; 
      transition-duration: 2s;
}

a {
    color: inherit;
}

header a:link{
    text-decoration: none;
    color: #4aaaa5;
}
header a:visited{
    text-decoration: none;

}

header .logo:hover{
        color: #4aaaa5;
        background: #ffffff;
        border: solid 1px #4aaaa5;
}

h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

nav {
    background-color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    height: 80px;   
    overflow: hidden;
    border: solid 0.5px #cccccc;
}
nav a:hover{
   color: #4aaaa5;
   font-weight: bold;
}
h1 {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 40px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 200px;
}

li {
    float: right;
}

.line{
    margin-top:30px;
    margin-right: 20px;
    color: #cccccc;
}

li a{
    display: block;
    padding: 8px;
    margin-top: 25px;
    background-color: #ffffff;
    color: #cccccc;
    padding-right: 30px;
    text-decoration: none;   
}

body{
    margin: 0px;
    padding:0px;
}

img {
    float: left;
    padding: 15px;
}

main {
    margin: 125px auto;
    overflow: auto;
    width: 80%;
    max-width: 720px;
   color: #777777;
   background: #ffffff;
   border: solid 0.5px #dddddd;
   font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   padding: 20px 30px 0px 30px
}

p {
    line-height: 30px;
   
}

main::after{
    content: "";
    display: block;
    clear: both;
    height: 40px;
}

footer {
    margin-top: 100px;
    border-top: 8px solid #4aaaa5;
    padding:20px;
    background: #666666;
    color: #ffffff;
    width:100%;
    text-align: center;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    overflow: auto;
    bottom: 0;
    position: fixed;
    
}

/* Conact Page*/
h3{
    border-bottom: 2px solid #cccccc;
    padding-bottom: 20px;
    padding-top: 20px;
}

#contact {
    padding-top: 0;
    line-height: 15px;
}

input {
  border: solid 1px #ccccc;
}
input {
    width: 660px;
    line-height: 25px;
    padding-left: 10px;
}


textarea {
    height: 200px;
    width: 660px;
    text-align: left;
    vertical-align: top;
    border: solid 1px #ccccc;
}


button {
    background: #4aaaa5;
    color: white;
    padding: 10px;
    width: 80px;
    margin-top: 20px;
    transition-duration: 0.4s;
}

button:hover{
    background: #ffffff;
    color: #4aaaa5;
    border: solid 1px black;
}

/* Portfolio Page */

.photo{
    height: 180px;
    width: 250px;
   
}

.container {
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 220px 220px;
    grid-template-rows: 70px 70px 70px;
    row-gap: 150px;
    column-gap: 30px;
    align-content: center;
}


.container img:hover {
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
    z-index: 2;
    position: relative;
    top:-25px;
}


.imageText{
    margin-top: 100px;
    margin-left: 15px;
    background: white ;
    opacity: 0.7;
    color: #4aaaa5;
    padding: 15px;
    width: 220px;
    height: 25px;
    position: absolute;
}

.imageText:hover{
    opacity: 1;
}


/* Media Queries */

@media screen and (max-width: 980px) {
    h1{
        font-size: 24px;
    }
    main  {
        float: left;
        margin-left: 50px;
        margin-top: 1px;
        width: 70%;
        padding-bottom: 0;
    }

   
#portfolio::after{
    content: "";
    display: block;
    clear: both;
    height: 150px;
}
    
    header {
   
        background: #ffffff;
        border: solid 0.5px #cccccc;
        margin-bottom: 50px;
        overflow: auto;
        width: 100%;
    }
    
    
    header .logo{
          background: #4aaaa5;
          color: #ffffff;
          height: 80px;
          width: 220px;
          padding: 30px;
          margin-left: 50px;
          float:left;
          font-weight: bold;
          font-size: 24px;
          overflow: hidden; 
          transition-duration: 2s;
     
    }

    nav ul{
        width: 100%;
        color: white;
        margin-left: 200px;   
    }
    
    input, #message{
        width: 100%;
    }

    p {
        font-size: 14px;
    }
    main{
        width: 880px;
    }
}

@media screen and (max-width: 768px){
    header {
   
        background: #ffffff;
        border: solid 0.5px #cccccc;
        margin-bottom: 50px;
        overflow: auto;
        width: 100%;
    }
    
    
    header .logo{
          background: #4aaaa5;
          color: #ffffff;
          height: 80px;
          width: 220px;
          padding: 30px;
          margin-left: 0;
          float:left;
          font-weight: bold;
          font-size: 24px;
          overflow: hidden; 
       
    }

    nav ul{
        width: 100%;
        color: white;
        margin-left: 200px;   
    }

    input, #message{
        width: 100%;
    }

    main{
        width: 668px;
    }

}



@media screen and (max-width: 640px){

    #portfolio{
        width: 540px;
        padding: 30px;
        margin-left: 50px; 
        margin-right: 15px;
    }

    header{
        position: static;
        text-align: center;
        float: none;
        width:100%;
    }


    header .logo{
        float: none;
        width: 100%;
        margin-left: 0;
        text-align: center;
    }


    nav ul{
        width: 100%;
        color: white;
        margin-left: 10%;
        font-size: 14px;
       
    }


    nav {
       height: 50px;
  
    }


    main  {
        width: 540px;
        padding: 30px;
        margin-left: 50px; 
        margin-right: 15px;
    }
    
    input, #message{
        width: 100%;
    }

    body , .container{
    font-size: 12px;
    width:100%;
 
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        row-gap: 10px;
        width: 100%;       
       
    }
    .container img:hover {
        -webkit-transform: scale(1.5); 
        transform: scale(1.5); 
        z-index: 2;
        position: relative;
        top:-25px;
    }

    h3{
        font-size: 16px;
    }

    .imageText{
        margin-top: 300px;
        background: white ;
        opacity: 0.8;
        color: #4aaaa5;
        padding-bottom: 30px;
        height: 25px;
        font-size: 16px;
        width: 70%;
        text-align: center;
       
    }
    
    .grid-item{
        display: block;
        margin-left: 4%;
    }

    .photo{
        height: 380px;
        width: 450px;
        
    }

}




